In [ ]:
import pandas as pd
import pyodbc
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from config import BLOB_CONN_STRING,BLOB_CONTAINER1, OPENAI_API_KEY, OPENAI_API_TYPE, OPENAI_API_BASE, OPENAI_API_VERSION, SERVER, DATABASE, USERNAME, PASSWORD, DRIVER

In [ ]:
class Table_QA:
  
    def __init__(self, ):
        """
        Initializes parameters and adds default values.
        """
        self.instructions = f"Given an input question, respond with proper SQLite Query as per the schema provided and consider nth Order as nth row. For example, first order will return values from all the columns of first row and so on. "
        self.data_schema = "We have three tables, The first table is aggregated_transaction_type_data table which has columns: States(str), Transaction_Year(int), Quarters(int),  Transaction_Type(str), Transaction_Count(int), Transaction_Amount(float)., in which Transaction type has unique values as recharge & bill payments, peer-to-peer payments, merchant payments, financial Services, Others.\
        The second table is aggregated_transaction_device_data table which has columns: States(str), Transaction_Year(int), Quarters(int), Device_Brand(str), Device_Transaction_count(int), Device_Transaction_Percentage(float) \
        and The third table is top_transaction_data table which has columns: States(str), Transaction_Year(int), Quarters(int), District(str), RegisteredUsers(int), Transaction_Type(str), Transaction_Count(int), Transaction_Amount(float)"
        self.prompt2 = "Generate a natural language answer for the following SQL query and tabular answer and if the dictionary is given and the value is only needed then give only that :\n\n"
        connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
        
        
        
    def get_data(self, filename):
        """
        Loads the tabular data for question answering in natural language.
        """     
        blob_service_client = BlobServiceClient.from_connection_string(BLOB_CONN_STRING)
        container_client = blob_service_client.get_container_client(BLOB_CONTAINER1)
        blob_client = container_client.get_blob_client(filename)

        with open(filename, "wb") as data:
            data.write(blob_client.download_blob().readall())
            
        return True
    
    def table_insertion(self, excel_data):
        # Connect to the Azure SQL database using the connection string
        conn = pyodbc.connect(connectionString)
        cursor = conn.cursor()

        # Split the file path by the dot (.) to get the filename and extension
        sql_table_name, extension = file_path.split(".")

        if extension == 'csv':
            excel_data = pd.read_csv(file_path)
        else:
            excel_data = pd.read_excel(file_path)

        # Convert column names to lowercase
        excel_data.columns = excel_data.columns.str.lower()

        # Get column names as a tuple
        column_names_tuple = tuple(excel_data.columns.tolist())

        # Get the column names from the DataFrame
        column_names = ", ".join(excel_data.columns)

        columns_type = {}
        for column_name, dtype in excel_data.dtypes.items():
            if dtype == 'int64':
                columns_type[column_name] = 'INTEGER'
            elif dtype == 'float64':
                columns_type[column_name] = 'FLOAT'
            elif dtype == 'bool':
                columns_type[column_name] = 'BOOLEAN'
            elif dtype == 'datetime64[ns]':
                columns_type[column_name] = 'DATETIME'
            else:
                columns_type[column_name] = 'VARCHAR(MAX)'

        col_name_type = ''
        for column_name, dtype in columns_type.items():
            if col_name_type:
                col_name_type += f', {column_name} {dtype}'
            else:
                col_name_type += f'{column_name} {dtype}'

        print(f'CREATE TABLE {sql_table_name} ({col_name_type})')
        cursor.execute(f'CREATE TABLE {sql_table_name} ({col_name_type})')
        # Iterate through rows and insert data
        for _, row in excel_data.iterrows():
            # Create a parameterized SQL INSERT statement
            placeholders = ", ".join(["?" for _ in excel_data.columns])
            sql_insert = f"INSERT INTO {sql_table_name} ({column_names}) VALUES ({placeholders})"

            # Extract the values from the row as a tuple
            values = tuple(row)
            # Execute the SQL INSERT statement with the values
            cursor.execute(sql_insert, values)
            conn.commit()

        cursor.close()
        conn.close()
        
        
        
    def answer_from_table(self, query):
        
        try:
            conn = pyodbc.connect(connection_string)
        except pyodbc.Error as e:
            print(f"Error connecting to Azure SQL Database: {str(e)}")
        answer = []
        try:
            cursor = conn.cursor()
            cursor.execute(query)

            # Fetch and print the results
            for row in cursor.fetchall():
                answer.append(row)
                print(row)
        except pyodbc.Error as e:
            print(f"Error executing SQL query: {str(e)}")
        cursor.close()
        conn.close()
            
        return answer
    
    def describe_table(self, table_name, columns):
        # Convert the columns dictionary into a formatted string
        column_descriptions = ', '.join([f"'{col}'({data_type})" for col, data_type in columns.items()])

        # Generate the final statement
        statement = f"The table '{table_name}' has columns {column_descriptions}."

        return statement

In [ ]:
def update_table_schema(table_schema, description):
    # Concatenate the description to the existing table_schema with a line break
    table_schema += f"\n{description}"
    return table_schema

# Example usage:
# table_schema = "The schema of the tables are as follows:-"
table_schema = """The schema of the tables are as follows:-
The table 'Sample_excel' has columns 'Number'(int), 'Name'(string), 'Gender'(string), 'Age'(int).
The table 'Sample_excel' has columns 'Number'(int), 'Name'(string), 'Gender'(string), 'Age'(int)."""
description = "The table 'Sample_excel' has columns 'Number'(int), 'Name'(string), 'Gender'(string), 'Age'(int)."

# Call the function to update table_schema
table_schema = update_table_schema(table_schema, description)


# Print or use the updated table_schema
print(table_schema)

In [ ]:
filename = "Sample_excel.xlsx"
get_data(self, filename)
excel_data = pd.read_excel("Sample_excel.xlsx")
# Convert column names to lowercase
excel_data.columns = excel_data.columns.str.lower()
table_insertion(excel_data)
sql_table_name, extension = filename.split(".")

columns_type = {}
for column_name, dtype in excel_data.dtypes.items():
    if dtype == 'int64':
        columns_type[column_name] = 'int'
    elif dtype == 'float64':
        columns_type[column_name] = 'float'
    elif dtype == 'bool':
        columns_type[column_name] = 'boolean'
    elif dtype == 'datetime64[ns]':
        columns_type[column_name] = 'datetime'
    else:
        columns_type[column_name] = 'VARCHAR(MAX)'

        
description = describe_table(sql_table_name, columns_type)